.editor_Window {
    display: flex;
    flex-grow: 1;
}

span {
    flex-grow: 1;
}

::ng-deep .mat-mdc-tab-body-wrapper { flex-grow: 1; }


.code-editor {
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

mat-tab-label {
    color:white;
}

